#login-wrapper{
	background-image: url('../img/bg5.jpg');
	background-position: center center;
	background-repeat: no-repeat;
    overflow:hidden;
    display: flex;
    align-items: center;
  	justify-content: center;
}
#login-box{
	background-color: white;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	max-width: 360px;
  	margin: 0 auto 100px;
  	padding: 30px 45px 45px;
  	text-align: center;


  button{
  	margin-bottom: 15px;
  	margin-top: 15px;
  	min-width: 8em;
  	-webkit-transition: all 0.3 ease;
  	transition: all 0.3 ease;
  	cursor: pointer;
  	width: 100%;
  	-webkit-transition: all 0.3 ease;
  	transition: all 0.3 ease;
  }

  button:hover,button:active,button:focus {
  background: #f47a1d;
 }

  input {
  height: 2.5em;
  background: #f2f2f2;
  color: black !important;
  outline: 0;
  border: 0;
  margin: 15px 0 0;
  padding: 6px;
  font-size: 14px;
  width: 100%;
  }

  a {
  	margin-top: 15px;
  	color: #422F85;
  }

    a:hover,a:active,a:focus {
  	color: #2d205b;
 }

}



