footer{
  background-color:$colorPurple;
  color: white;
  .footer-wrapper{
    display: flex;
    flex-wrap: wrap;
    padding: 4em 0;
    font-size: 1.2em;
    h3{
      font-size: 1.4em;
      font-weight: 400;
      padding-bottom: 1em;
      color: $colorGrey;
    }  
    a{
      color: $colorOrange;      
    }
  }
  .copyright{
    width: 100%;
    color: $colorOrange;    
  }
}