$backgroundColor-Grey: #EDEDED;
$colorOrange:#ff8a30;
$colorDarkPurple:#422F85;

.main {
  p {
    font-size: 1.3em;
    line-height: 2;
  }
  #first-wrapper {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    padding: 0 10px;
  }
  .section .section-banner .section-center {
    text-align: center;
  }


  .section-banner {
    padding: 20px 0 0;
    background-color: #e5e5e5;
  }


  .social-section-banner{
    background-color: $colorOrange;
    a,p {
      color: white;
    }
  }

  .social-wrapper{
    display: flex;
    justify-content: space-between;

    .suscribe-icon{
      float: left;
      margin: 2em;

    }
    .social-icon{
      margin-left: auto;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-justify-content: flex-start;
      justify-content: flex-start;
      align-items: center;

      p{
        padding: 1em;
      }
      a{
        padding: 0.4em;
      }

    }

  }


  .container {
    max-width: 1100px;
    margin: 0 auto;

  }
  article {
    display: block;
  }
  .with-padding{
    padding: 20em 0;
  }
  .gallery {
    //color: $colorTxt-white;
    margin: 4em 0;
    padding: 0;
    list-style: none;
    overflow: visible;
    display: block;
    width: 100%;
    float: left;
  }
  .gallery .item {
    width: 20%;
    float: left;
    box-sizing: border-box;
    padding-right: 0.3125rem;
    padding-left: 0.3125rem;
  }
  #main-wrapper {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
  #banner {
    //height: 15vh;
    background-color: $backgroundColor-Grey;
    overflow: auto;
  }
  #intro-page {
    //height: 50vh;
    background: url("https://startacus.net/uploads/image/Web%20summit%20100000000.jpg");
    position: relative;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


  }
  #intro-page-schedule{
    //background: url("https://startacus.net/uploads/image/Web%20summit%20100000000.jpg");

    position: relative;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #map {
    height: 400px;
    width: 100%;
  }

  .item {
    h4{
      font-size: 2em;
      color: $colorDarkPurple;
    }
  }


  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 2em;
    text-align: center;
    display: inline-block;

    .card-content{
      padding-bottom: 1em;
    }

  }

  .card-container  {
    padding: 0 16px;
    align-content: center;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    /* You can set flex-wrap and flex-direction individually */
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    /* Or do it all in one line with flex flow */
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    /* tweak the where items line up on the row */
    /* valid values are: flex-start, flex-end, space-between, space-around, stretch */
    -webkit-align-content: flex-end;
    align-content: flex-end;
  }

  .title {
    color: grey;
    font-size: 18px;
  }

  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }

  .btn-aligner{
    display: flex;
    align-items: center;
    justify-content: center;
    .button-item{
      align-self: flex-start;
      background-color: $colorOrange;
      border-radius: 4px;
      padding: 9px;
    }
  }

  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }

  button:hover, a:hover {
    opacity: 0.7;
  }
  .nameTag{
    background-color: #ff8a30;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 18px;
  }

  .sponsor-container{
    padding: 0 16px;
    align-content: center;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    /* You can set flex-wrap and flex-direction individually */
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    /* Or do it all in one line with flex flow */
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    /* tweak the where items line up on the row */
    /* valid values are: flex-start, flex-end, space-between, space-around, stretch */
    -webkit-align-content: flex-end;
    align-content: flex-end;
  }

  .partner-container{
    padding: 0 16px;
    align-content: center;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    /* You can set flex-wrap and flex-direction individually */
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    /* Or do it all in one line with flex flow */
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    /* tweak the where items line up on the row */
    /* valid values are: flex-start, flex-end, space-between, space-around, stretch */
    -webkit-align-content: flex-end;
    align-content: flex-end;
  }
  .section-title-inner{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    align-items: center;
    .section-title-inner-content{
      padding: 3em;

      p{
        line-height: 2.2em;
      }
      h2{
        padding-bottom: 1em;

      }
    }
  }

  ////////////////Event Wrapper/////////////
  .event-wrapper{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    margin: 2em;
    box-shadow: 4px 4px 20px #EDEDED;


    .side-calendar-medium{
      padding: 1em;
      background-color: $colorOrange;
      color: white;
    }
    .side-calendar-beginner{
      padding: 1em;
      background-color: grey;
      color: white;
    }

    .side-calendar-advanced{
      padding: 1em;
      background-color: $colorDarkPurple;
      color: white;
    }
    .event-image{
      padding: 1em;
      background-color: #EDEDED;
    }

    .event-content-inner{
      padding: 1em;
    }

    .event-title{
      font-size: 24px;
    }
    .icon{
      float: left;
    }
    .event-content-inner{
      width: 80%;
      float: left;
      max-height: 242px;
    }
    .side-button{
      width: 16%;
      float: right;
      text-align: center;
      margin-top: 9.9em;
      margin-right:20px;
      border: 2px solid;
      color: $colorOrange;
    }
  }
  h2, p{
    padding-left:2em ;
  }


  ////////Team/////////


    .team-wrapper-up{
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-justify-content: flex-start;
      justify-content: flex-start;
    }



}
