nav {
  ul {
    display: inline-flex;
    li {
      padding: 10px 20px; 
      a {
        color: $colorPurple;
        font-size: 1.3em;
        font-weight: 400;
        letter-spacing: 1px;
      }
      &:hover:not(.active) {
        background-color: $colorGrey;
      }
    }
  }
  .active{
    background-color: $colorOrange;
    a{
      color: white;
    }
  }
}
