.btn{
    padding: 10px 0;
    width: 200px;
}
.btn-main {
  background-color: $colorOrange;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;

  font-size: 1em;
  font-size: 22px;
  line-height: 1em;
  margin: 15px 40px;
  outline: none;
  padding: 12px 40px 10px;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
}

.btn-small{
  height: 2em;
  padding: 0 20px;
  font-size: 1em;
}

.btn-main:before,
.btn-main:after {
  border-color: transparent;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  border-style: solid;
  border-width: 0;
  content: "";
  height: 24px;
  position: absolute;
  width: 24px;
}

.active:before,
.btn-main:before {
  border-color: $colorOrange;
  border-top-width: 2px;
  left: 0px;
  top: -5px;
}

.active:after,
.btn-main:after {
  border-bottom-width: 2px;
  border-color: $colorOrange;
  bottom: -5px;
  right: 0px;
}

.btn-main:hover,
.btn-main.hover {
  background-color: $colorOrange;
}

.btn-main:hover:before,
.btn-main.hover:before,
.btn-main:hover:after,
.btn-main.hover:after {
  height: 100%;
  width: 100%;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: $colorOrange;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
}

.btn-aligner {
  display: flex;
  align-items: center;
  justify-content: center;
  .button-item {
    align-self: flex-start;
    background-color: $colorOrange;
    border-radius: 4px;
    padding: 9px;
  }
}

