<article class="container">
    <div class="section-content">
        <h1 class="section-title"> What to Expect</h1>
        <br>

      <div class="section-title-inner">
        <div class="section-title-inner-content">
          <h2>New technology</h2>
          <p> Tech Event is innovating at a breathtaking pace.
            Get up to speed on the latest applications of our cutting-edge technology,
            like cloud-based computation, machine learning, data science,
            interactive deployment and knowledge management. Find out what's next in tomorrow's computational technology.
          </p>
        </div>

        <div class="section-title-inner-content" >
          <h2>Learning</h2>
          <p> Whatever the level of knowledge, this is the chance to learn and explore what
            Wolfram technology makes possible in a broad range of fields.
            See how Mathematica, CDF, SystemModeler, Wolfram Enterprise Private
            Cloud and others can make your organization more efficient, more effective and more informed.
          </p>
        </div>

        <div class="section-title-inner-content">
          <h2>Social</h2>
          <p> This is a great chance to meet those who develop this technology,
            as well as those who use it. With plenty of networking opportunities
            throughout the conference, you will not only come away with a comprehensive grasp
            on our technology, but will also be part of a thriving and dynamic community.
          </p>
        </div>
      </div>
    </div>
</article>
