<article class="container">
    <div class="section-content">
        <h1 class="section-title"> What is Tech Event?</h1>
        <br>
        <p> Tech Events started as exam project in 2017: The idea was to create website for Tech Events in Copenhagen. It seemed
            to resonate. Tech Events has grown to become the “largest technology conference in the world”.
            <br> No conference has ever grown so large so fast. But we also pride ourselves in organising the “best technology
            conference on the planet”.</p>
    </div>
</article>