<article class="container">

  <h1 class="section-title">Partners</h1>

  <div class="partner-container">
    
    <div class="card">
      <img src="assets/img/microsoft.png">
    </div>
    <div class="card">
      <img src="assets/img/samsung.png">
    </div>
    <div class="card">
      <img src="assets/img/facebook.png">
    </div>
    <div class="card">
      <img src="assets/img/twitter.png">
    </div>
    <div class="card">
      <img src="assets/img/amazon.png">
    </div>

  </div>

</article>
