<article class="container">
    <div class="wide">
        <!--<ul class="gallery">-->
            <!--<li class="item">-->
                <!--<h6 class="itemHead">Attendees</h6>-->
                <!--<h4>-->
                    <!--<strong>-->
                <!--<span class="counter" data-count="60000">60000</span>-->
              <!--</strong>-->
                <!--</h4>-->
            <!--</li>-->

            <!--<li class="item">-->
                <!--<h6 class="itemHead">Speakers</h6>-->
                <!--<h4>-->
                    <!--<strong>-->
                <!--<span class="counter" data-count="530">530</span><span>+</span>-->
              <!--</strong>-->
                <!--</h4>-->
            <!--</li>-->

            <!--<li class="item">-->
                <!--<h6 class="itemHead">Senior Management</h6>-->
                <!--<h4>-->
                    <!--<strong>-->
                <!--<span class="counter" data-count="67">67</span><span>%</span>-->
              <!--</strong>-->
                <!--</h4>-->
            <!--</li>-->

            <!--<li class="item">-->
                <!--<h6 class="itemHead">Journalists</h6>-->
                <!--<h4>-->
                    <!--<strong>-->
                <!--<span class="counter" data-count="2200">2200</span><span>+</span>-->
              <!--</strong>-->
                <!--</h4>-->
            <!--</li>-->

            <!--<li class="item">-->
                <!--<h6 class="itemHead">Countries</h6>-->
                <!--<h4>-->
                    <!--<strong>-->
                <!--<span class="counter" data-count="160">160</span><span>+</span>-->
              <!--</strong>-->
                <!--</h4>-->
            <!--</li>-->

        <!--</ul>-->

      <div>
        <h2 class="text-center">Partners</h2>
      </div>

      <div class="partner-container">
        <div class="card">
          <img src="assets/img/microsoft.png" style="width: 100px; ">
        </div>
        <div class="card">
          <img src="assets/img/samsung.png" style="width: 100px; ">
        </div>
        <div class="card">
          <img src="assets/img/facebook.png" style="width: 100px; ">
        </div>
        <div class="card">
          <img src="assets/img/twitter.png" style="width: 100px; ">
        </div>
        <div class="card">
          <img src="assets/img/amazon.png" style="width: 100px; ">
        </div>

      </div>

    </div>

</article>
