<article class="container">
<button id="toggle_calendar"><i class="fa fa-calendar fa" aria-hidden="true"></i> <span id="toggle_calendar_icon">Show calendar</span></button>
<div style="display:none;" id="calendar_div">
	<iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showTz=0&amp;height=600&amp;wkst=2&amp;bgcolor=%23FFFFFF&amp;src=qm77dth9ddnc2478i8qatodn1o%40group.calendar.google.com&amp;color=%23691426&amp;ctz=Europe%2FCopenhagen" style="border-width:0" width="1098" height="500" frameborder="0" scrolling="no"></iframe>

</div>


</article>

