<article class="container">

    <div class="event-wrapper">

        <div class="calendar-levels bgcMain">
            <h3>Jul</h3>
            <h3>9</h3>
        </div>

        <div class="event-image">
            <a href="http://www.meetup.com/de-DE/Zalando-Tech-Events-Berlin/events/231015118/">
                        <img src="assets/img/season.jpeg">
                        </a>
        </div>

        <div class="event-content-wrapper">
            <div class="event-content-inner">

                <div class="event-details">
                    <h2 class="title">Angular Continuous Integration</h2>
                    <h4 class="subtitle">Angular</h4>
                    <p class="description">Insomnia? Nightmares? Stress? That's usually some of the symptoms in developers that are not using continuous
                        integration systems. In this talk you will learn how to create a healthy life-cycle in your development
                        process.
                    </p>
                </div>

                <div class="date-wrapper">
                    <div class="icon">
                        <i class="fa fa-calendar fa-3x" aria-hidden="true"></i>
                    </div>
                    <div class="date">
                        <p class="dateTime"><span class="time">12 Jul </span> 2017 18:30</p>
                    </div>
                </div>

                <div class="event-location">
                    <div class="icon">
                        <i class="fa fa-map-marker fa-3x" aria-hidden="true"></i>
                    </div>
                    <div class="location">
                        <p class="place">"The Shuttle" - Innovation Lab @ Zalando Tech</p>
                        <p class="address">Mollstr.1, 10178 Berlin</p>
                    </div>
                </div>

                <div class="speakers">
                    <img class="speaker" src="assets/img/39507.jpg" alt="">
                    <img class="speaker" src="assets/img/39507.jpg" alt="">
                    <img class="speaker" src="assets/img/39507.jpg" alt="">
                </div>

                <button class="btn btnBuyTicket bgcMain">Buy Ticket</button>

            </div>
            <!-- .event-content-inner-->

        </div>
        <!-- .event-content-wrapper-->


    </div>
    <!-- .event-wrapper-->


    <div class="event-wrapper">

        <div class="calendar-levels bgcSecondary">
            <h3>Jul</h3>
            <h3>11</h3>
        </div>

        <div class="event-image">
            <a href="http://www.meetup.com/de-DE/Zalando-Tech-Events-Berlin/events/231015118/">
                        <img src="assets/img/season.jpeg">
                        </a>
        </div>

        <div class="event-content-wrapper">
            <div class="event-content-inner">

                <div class="event-details">
                    <h2 class="title">Angular Continuous Integration</h2>
                    <h4 class="subtitle">Angular</h4>
                    <p class="description">Insomnia? Nightmares? Stress? That's usually some of the symptoms in developers that are not using continuous
                        integration systems. In this talk you will learn how to create a healthy life-cycle in your development
                        process.
                    </p>
                </div>

                <div class="date-wrapper">
                    <div class="icon">
                        <i class="fa fa-calendar fa-3x" aria-hidden="true"></i>
                    </div>
                    <div class="date">
                        <p class="dateTime"><span class="time">11 Jul </span> 2017 18:30</p>
                    </div>
                </div>

                <div class="event-location">
                    <div class="icon">
                        <i class="fa fa-map-marker fa-3x" aria-hidden="true"></i>
                    </div>
                    <div class="location">
                        <p class="place">"The Shuttle" - Innovation Lab @ Zalando Tech</p>
                        <p class="address">Mollstr.1, 10178 Berlin</p>
                    </div>
                </div>

                <div class="speakers">
                    <img class="speaker" src="assets/img/39507.jpg" alt="">
                    <img class="speaker" src="assets/img/39507.jpg" alt="">
                    <img class="speaker" src="assets/img/39507.jpg" alt="">
                </div>

                <button class="btn btnBuyTicket bgcSecondary">Buy Ticket</button>

            </div>
            <!-- .event-content-inner-->

        </div>
        <!-- .event-content-wrapper-->


    </div>
    <!-- .event-wrapper-->


    <div class="event-wrapper">

        <div class="calendar-levels bgcThird">
            <h3>Jul</h3>
            <h3>13</h3>
        </div>

        <div class="event-image">
            <a href="http://www.meetup.com/de-DE/Zalando-Tech-Events-Berlin/events/231015118/">
                        <img src="assets/img/season.jpeg">
                        </a>
        </div>

        <div class="event-content-wrapper">
            <div class="event-content-inner">

                <div class="event-details">
                    <h2 class="title">Angular Continuous Integration</h2>
                    <h4 class="subtitle">Angular</h4>
                    <p class="description">Insomnia? Nightmares? Stress? That's usually some of the symptoms in developers that are not using continuous
                        integration systems. In this talk you will learn how to create a healthy life-cycle in your development
                        process.
                    </p>
                </div>

                <div class="date-wrapper">
                    <div class="icon">
                        <i class="fa fa-calendar fa-3x" aria-hidden="true"></i>
                    </div>
                    <div class="date">
                        <p class="dateTime"><span class="time">13 Jul </span> 2017 18:30</p>
                    </div>
                </div>

                <div class="event-location">
                    <div class="icon">
                        <i class="fa fa-map-marker fa-3x" aria-hidden="true"></i>
                    </div>
                    <div class="location">
                        <p class="place">"The Shuttle" - Innovation Lab @ Zalando Tech</p>
                        <p class="address">Mollstr.1, 10178 Berlin</p>
                    </div>
                </div>

                <div class="speakers">
                    <img class="speaker" src="assets/img/39507.jpg" alt="">
                    <img class="speaker" src="assets/img/39507.jpg" alt="">
                    <img class="speaker" src="assets/img/39507.jpg" alt="">
                </div>

                <button class="btn btnBuyTicket bgcThird">Buy Ticket</button>

            </div>
            <!-- .event-content-inner-->

        </div>
        <!-- .event-content-wrapper-->


    </div>
    <!-- .event-wrapper-->

</article>
<!-- .container-->