<article class="container grid">

    <div class="event-wrapper grid-item beginner free">

        <div class="event-image">
            <a href="http://www.meetup.com/de-DE/Zalando-Tech-Events-Berlin/events/231015118/">
                        <img src="assets/img/angular.svg" class="middle">
                        </a>
        </div>

        <div class="event-content-wrapper">
            <div class="event-content-inner">

                <div class="event-details">
                    <h2 class="title">Angular Continuous Integration beginners FREE</h2>
                    <p class="description">Insomnia? Nightmares? Stress? That's usually some of the symptoms in developers that are not using continuous
                        integration systems. In this talk you will learn how to create a healthy life-cycle in your development
                        process.
                    </p>
                </div>

                <div class="date-wrapper">
                    <div class="icon">
                        <i class="fa fa-calendar fa-2x" aria-hidden="true"></i>
                    </div>
                    <div class="date">
                        <p class="dateTime"><span class="time">20 Jul </span> 2017 18:30</p>
                    </div>
                </div>

                <div class="event-location">
                    <div class="icon">
                        <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
                    </div>
                    <div class="location">
                        <p class="place">"The Shuttle" - Innovation Lab @ Zalando Tech</p>
                        <p class="address">Mollstr.1, 10178 Berlin</p>
                    </div>
                </div>

                <div class="price-wrapper">
                    <div class="icon">
                        <i class="fa fa-usd fa-2x" aria-hidden="true"></i>
                    </div>
                    <div class="price-details">
                        <p><span>FREE for students</span></p>
                    </div>
                </div>

                <button class="btnBuyTicket btn-main">Read more</button>

            </div>
            <!-- .event-content-inner-->

        </div>
        <!-- .event-content-wrapper-->


    </div>
    <!-- .event-wrapper-->


    <div class="event-wrapper grid-item advanced">

        <div class="event-image">
            <a href="http://www.meetup.com/de-DE/Zalando-Tech-Events-Berlin/events/231015118/">
                        <img src="assets/img/angular.svg" class="middle">
                        </a>
        </div>

        <div class="event-content-wrapper">
            <div class="event-content-inner">

                <div class="event-details">
                    <h2 class="title">Angular Continuous Integration advanced</h2>
                    <p class="description">Insomnia? Nightmares? Stress? That's usually some of the symptoms in developers that are not using continuous
                        integration systems. In this talk you will learn how to create a healthy life-cycle in your development
                        process.
                    </p>
                </div>

                <div class="date-wrapper">
                    <div class="icon">
                        <i class="fa fa-calendar fa-2x" aria-hidden="true"></i>
                    </div>
                    <div class="date">
                        <p class="dateTime"><span class="time">22 Jul </span> 2017 18:30</p>
                    </div>
                </div>

                <div class="event-location">
                    <div class="icon">
                        <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
                    </div>
                    <div class="location">
                        <p class="place">"The Shuttle" - Innovation Lab @ Zalando Tech</p>
                        <p class="address">Mollstr.1, 10178 Berlin</p>
                    </div>
                </div>

                <div class="price-wrapper">
                    <div class="icon">
                        <i class="fa fa-usd fa-2x" aria-hidden="true"></i>
                    </div>
                    <div class="price-details">
                        <p>Starts from <span>500 DKK</span></p>
                    </div>
                </div>

                <button class="btnBuyTicket btn-main"><a href="events.html">Read more</a> </button>

            </div>
            <!-- .event-content-inner-->

        </div>
        <!-- .event-content-wrapper-->


    </div>
    <!-- .event-wrapper-->


    <div class="event-wrapper grid-item advanced">

        <div class="event-image">
            <a href="http://www.meetup.com/de-DE/Zalando-Tech-Events-Berlin/events/231015118/">
                        <img src="assets/img/angular.svg" class="middle">
                        </a>
        </div>

        <div class="event-content-wrapper">
            <div class="event-content-inner">

                <div class="event-details">
                    <h2 class="title">Angular Continuous Integration advanced</h2>
                    <p class="description">Insomnia? Nightmares? Stress? That's usually some of the symptoms in developers that are not using continuous
                        integration systems. In this talk you will learn how to create a healthy life-cycle in your development
                        process.
                    </p>
                </div>

                <div class="date-wrapper">
                    <div class="icon">
                        <i class="fa fa-calendar fa-2x" aria-hidden="true"></i>
                    </div>
                    <div class="date">
                        <p class="dateTime"><span class="time">24 Jul </span> 2017 18:30</p>
                    </div>
                </div>

                <div class="event-location">
                    <div class="icon">
                        <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
                    </div>
                    <div class="location">
                        <p class="place">"The Shuttle" - Innovation Lab @ Zalando Tech</p>
                        <p class="address">Mollstr.1, 10178 Berlin</p>
                    </div>
                </div>

                <div class="price-wrapper">
                    <div class="icon">
                        <i class="fa fa-usd fa-2x" aria-hidden="true"></i>
                    </div>
                    <div class="price-details">
                        <p>Starts from <span>500 DKK</span></p>
                    </div>
                </div>

                <button class="btnBuyTicket btn-main">Read more</button>

            </div>
            <!-- .event-content-inner-->

        </div>
        <!-- .event-content-wrapper-->


    </div>
    <!-- .event-wrapper-->

</article>
<!-- .container-->
