<div class="container">
    <section class="section-content">
        <nav>
            <article>
                <h4>Information</h4>
                <div>
                    <ul>
                        <li>Careers</li>
                        <li>Apply to Speak</li>
                        <li>Newsletter</li>
                        <li>Reviews</li>
                        <li>Volunteers</li>
                    </ul>
                </div>
            </article>
        </nav>

    </section>

</div>