<div class="container">
    <section class="section-content">

      <div class="footer-wrapper">

        <div class="footer-content">
          <p>Interested in sponsoring the Tech Event Conferences? </p>
          <p>
            <a class="email" href=""> Email us for details</a>
          </p>
        </div>
        <br>

        <div class="social-icon-footer">
          <p>In association with:</p>
          <a class="list-group-item" href="#"><i class="fa fa-twitter fa-fw" aria-hidden="true"></i></a>
          <a class="list-group-item" href="#"><i class="fa fa-google-plus fa-fw" aria-hidden="true"></i></a>
          <a class="list-group-item" href="#"><i class="fa fa-instagram fa-fw" aria-hidden="true"></i></a>
          <a class="list-group-item" href="#"><i class="fa fa-facebook-official fa-fw" aria-hidden="true"></i></a>
        </div>

      </div>

    </section>
</div>
