<div class="footer-wrapper container">

  <div class="col1 p1">
    <h3>For Sponsors:</h3>
    <p>Interested in sponsoring the Tech Event Conferences? </p>
    <a href="mailto:sponsor@techevents.dk">sponsor@techevents.dk</a><br>
  </div>

  <div class="col1 p1">
    <h3>For Partners:</h3>
    <p>Interested in being our partner?</p>
    <a href="mailto:partner@techevents.dk">partner@techevents.dk</a><br>
  </div>

  <div class="col1 p1">
    <h3>Follow us:</h3>
    <a href="#"><i class="fa fa-2x fa-facebook-official fa-fw" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-2x fa-twitter fa-fw" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-2x fa-instagram fa-fw" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-2x fa-google-plus fa-fw" aria-hidden="true"></i></a>
  </div>

  <div class="copyright p1">
    <p> &copy; 2017 Tech Events Team</p>
  </div>


</div>