<div class="main-nav container">

  <div class="logo">
    <a href="/">
      <img src="/assets/img/TechEventsLogo_extraSmall.svg" alt="TechEvents logo">
    </a>
  </div>

  <nav role="navigation">

    <ul>
      <li class="active">
        <a href="index.html">Home</a>
      </li>
      <li class="">
        <a href="events.html">Events</a>
      </li>
      <li class="">
        <a href="speakers.html">Speakers</a>
      </li>
      <li class="">
        <a href="/#about">About</a>
      </li>
    </ul>

  </nav>

</div>
