<section class="container site-header">
  <nav class="topnav" role="navigation" id="navigation">
    <a href="/">
      <img src="assets/img/logo.png" style="width: 200px; margin-left: 0;">
    </a>

    <div>
      <ul class="ulAnim site-links">
        <li>
          <a href="about.html">About</a>
        </li>
        <li>
          <a href="events.html">Events</a>
        </li>
        <li>
          <a href="speakers.html">Speakers</a>
        </li>
        <li>
          <a href="#">Team</a>
        </li>
        <li>
          <a href="#price">Tickets</a>
        </li>

        <li>
          <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
        </li>
      </ul>


    </div>
  </nav>
</section>
