<article class="container with-padding">
    <div class="section-content centered">
        <br>
        <br>
        <a href="">
        <!--<img src="assets/img/logo.png " style="width: 200px; ">-->
        </a>
        <p class="txt-light">COPENHAGEN, JUNE 9-10,2017</p>
        <h1 class="section-title intro">"The largest tech event in Copenhagen"</h1>

      <div class="menu-wrap">
        <nav class="menu">
          <ul class="clearfix">

            <li>
              <a href="#">Subjects <span class="arrow">&#9660;</span></a>

              <ul class="sub-menu">
                <li><a href="#">Html/Css</a></li>
                <li><a href="#">JavaScript</a></li>
                <li><a href="#">PHP mySQL</a></li>
                <li><a href="#">Libraries</a></li>
              </ul>
            </li>

          </ul>
        </nav>
      </div>



    </div>
</article>
