<article class="container">

    <div class="social-wrapper">

      <div class="subscribe-wrapper">
        <p>Subscribe our newsletter</p>
        <input type="email" value="" placeholder="Enter Your email">
        <button type="button" class="btn-small btn-subscribe">Subscribe</button>
      </div>

      <div class="social-icon">
        <p>Follow us</p>
        <a href="https://www.twitter.com/"><i class="fa fa-2x fa-twitter fa-fw" aria-hidden="true"></i></a>
        <a href="https://www.google.com/"><i class="fa fa-2x fa-google-plus fa-fw" aria-hidden="true"></i></a>
        <a href="https://www.instagram.com/"><i class="fa fa-2x fa-instagram fa-fw" aria-hidden="true"></i></a>
        <a href="https://www.facebook.com/"><i class="fa fa-2x fa-facebook-official fa-fw" aria-hidden="true"></i></a>
      </div>

    </div><!-- social-wrapper-->

</article>
