<article class="container">
  <div class="wide">

    <div class="social-wrapper">
      <div class="suscribe-icon">
        <a href="">  Suscribe <i class="fa fa-hand-pointer-o" aria-hidden="true"></i></a>
      </div>

      <div class="social-icon">
        <p>Follow us</p>
        <a class="list-group-item" href="#"><i class="fa fa-twitter fa-fw" aria-hidden="true"></i></a>
        <a class="list-group-item" href="#"><i class="fa fa-google-plus fa-fw" aria-hidden="true"></i></a>
        <a class="list-group-item" href="#"><i class="fa fa-instagram fa-fw" aria-hidden="true"></i></a>
        <a class="list-group-item" href="#"><i class="fa fa-facebook-official fa-fw" aria-hidden="true"></i></a>

      </div>
    </div>

  </div>
</article>
