<article class="container">
    <div class="section-content">
        <h1 class="section-title">They have spoken</h1>
        <div class="card-container">



            <div class="card">
                <img src="assets/img/39507.jpg" alt="John" style="width:100%">
                <div class="card-content">
                    <h1 class="nameTag">John Doe</h1>
                    <p class="title">CEO & Founder, Example</p>
                    <p>Harvard University</p>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <!--<p><button>Contact</button></p>-->
                </div>
            </div>

            <div class="card">
                <img src="assets/img/39507.jpg" alt="John" style="width:100%">
                <div class="card-content">
                    <h1 class="nameTag">John Doe</h1>
                    <p class="title">CEO & Founder, Example</p>
                    <p>Harvard University</p>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <!--<p><button>Contact</button></p>-->
                </div>
            </div>

            <div class="card">
                <img src="assets/img/39507.jpg" alt="John" style="width:100%">
                <div class="card-content">
                    <h1 class="nameTag">John Doe</h1>
                    <p class="title">CEO & Founder, Example</p>
                    <p>Harvard University</p>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <!--<p><button>Contact</button></p>-->
                </div>
            </div>

            <div class="card">
                <img src="assets/img/39507.jpg" alt="John" style="width:100%">
                <div class="card-content">
                    <h1 class="nameTag">John Doe</h1>
                    <p class="title">CEO & Founder, Example</p>
                    <p>Harvard University</p>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <!--<p><button>Contact</button></p>-->
                </div>
            </div>

            <div class="card">
                <img src="assets/img/39507.jpg" alt="John" style="width:100%">
                <div class="card-content">
                    <h1 class="nameTag">John Doe</h1>
                    <p class="title">CEO & Founder, Example</p>
                    <p>Harvard University</p>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <!--<p><button>Contact</button></p>-->
                </div>
            </div>

            <div class="card">
                <img src="assets/img/39507.jpg" alt="John" style="width:100%">
                <div class="card-content">
                    <h1 class="nameTag">John Doe</h1>
                    <p class="title">CEO & Founder, Example</p>
                    <p>Harvard University</p>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <!--<p><button>Contact</button></p>-->
                </div>
            </div>

        </div>

        <div>
            <a href="#" class="button-item">See More Speakers</a>
        </div>

    </div>
</article>