<article class="container">
    <div class="section-content">
        <h1 class="section-title">They have spoken</h1>
        <div class="card-container">

            <div class="card">

                <div class="card-img-wrapper">
                    <img src="assets/img/39507.jpg" alt="Jane" style="width:100%">
                    <p>Jane Doe</p>
                </div>

                <div class="card-content">

                    <div class="skills">
                        <p>Angular, Node.js</p>
                    </div>

                    <div class="description">
                        <p class="title">Trainer and Consultant with focus on Angular. Google Developer Expert (GDE) and Microsoft MVP. Writes for O'Reilly, Hanser,
                        the German Java Magazine, windows.developer and Heise. Regularly speaks at conferences.
                        </p>
                    </div>      

                    <div class="social-wrapper">
                        <a href="#"><i class="fa fa-2x fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-2x fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-2x fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-2x fa-github"></i></a>
                    </div>

                </div><!-- card-content-->
            </div><!-- card-->

            <div class="card">

                <div class="card-img-wrapper">
                    <img src="assets/img/39507.jpg" alt="Jane" style="width:100%">
                    <p>Jane Doe</p>
                </div>

                <div class="card-content">

                    <div class="skills">
                        <p>Angular, Node.js</p>
                    </div>

                    <div class="description">
                        <p class="title">Trainer and Consultant with focus on Angular. Google Developer Expert (GDE) and Microsoft MVP. Writes for O'Reilly, Hanser,
                        the German Java Magazine, windows.developer and Heise. Regularly speaks at conferences.
                        </p>
                    </div>      

                    <div class="social-wrapper">
                        <a href="#"><i class="fa fa-2x fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-2x fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-2x fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-2x fa-github"></i></a>
                    </div>

                </div><!-- card-content-->
            </div><!-- card-->

            <div class="card">

                <div class="card-img-wrapper">
                    <img src="assets/img/39507.jpg" alt="Jane" style="width:100%">
                    <p>Jane Doe</p>
                </div>

                <div class="card-content">

                    <div class="skills">
                        <p>Angular, Node.js</p>
                    </div>

                    <div class="description">
                        <p class="title">Trainer and Consultant with focus on Angular. Google Developer Expert (GDE) and Microsoft MVP. Writes for O'Reilly, Hanser,
                        the German Java Magazine, windows.developer and Heise. Regularly speaks at conferences.
                        </p>
                    </div>      

                    <div class="social-wrapper">
                        <a href="#"><i class="fa fa-2x fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-2x fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-2x fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-2x fa-github"></i></a>
                    </div>

                </div><!-- card-content-->
            </div><!-- card-->

            <div class="card">

                <div class="card-img-wrapper">
                    <img src="assets/img/39507.jpg" alt="Jane" style="width:100%">
                    <p>Jane Doe</p>
                </div>

                <div class="card-content">

                    <div class="skills">
                        <p>Angular, Node.js</p>
                    </div>

                    <div class="description">
                        <p class="title">Trainer and Consultant with focus on Angular. Google Developer Expert (GDE) and Microsoft MVP. Writes for O'Reilly, Hanser,
                        the German Java Magazine, windows.developer and Heise. Regularly speaks at conferences.
                        </p>
                    </div>      

                    <div class="social-wrapper">
                        <a href="#"><i class="fa fa-2x fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-2x fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-2x fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-2x fa-github"></i></a>
                    </div>

                </div><!-- card-content-->
            </div><!-- card-->

            <div class="card">

                <div class="card-img-wrapper">
                    <img src="assets/img/39507.jpg" alt="Jane" style="width:100%">
                    <p>Jane Doe</p>
                </div>

                <div class="card-content">

                    <div class="skills">
                        <p>Angular, Node.js</p>
                    </div>

                    <div class="description">
                        <p class="title">Trainer and Consultant with focus on Angular. Google Developer Expert (GDE) and Microsoft MVP. Writes for O'Reilly, Hanser,
                        the German Java Magazine, windows.developer and Heise. Regularly speaks at conferences.
                        </p>
                    </div>      

                    <div class="social-wrapper">
                        <a href="#"><i class="fa fa-2x fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-2x fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-2x fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-2x fa-github"></i></a>
                    </div>

                </div><!-- card-content-->
            </div><!-- card-->

            <div class="card">

                <div class="card-img-wrapper">
                    <img src="assets/img/39507.jpg" alt="Jane" style="width:100%">
                    <p>Jane Doe</p>
                </div>

                <div class="card-content">

                    <div class="skills">
                        <p>Angular, Node.js</p>
                    </div>

                    <div class="description">
                        <p class="title">Trainer and Consultant with focus on Angular. Google Developer Expert (GDE) and Microsoft MVP. Writes for O'Reilly, Hanser,
                        the German Java Magazine, windows.developer and Heise. Regularly speaks at conferences.
                        </p>
                    </div>      

                    <div class="social-wrapper">
                        <a href="#"><i class="fa fa-2x fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-2x fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-2x fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-2x fa-github"></i></a>
                    </div>

                </div><!-- card-content-->
            </div><!-- card-->

            

        </div><!-- card-container-->

    </div>
</article>