<article class="container">
    <div class="section-content">
        <h1 class="section-title">Supported by</h1>
      <p class="sponser-description">Industry-defining brands that have helped make Tech Events into what it is today.
        dolor sit amet, a euismod maecenas pede, leo donec, suscipit consequat arcu sem. Lobortis a amet purus in, nec nec odio just
      </p>

    </div>

    <div class="sponsor-container">
        <div class="card">
            <img src="assets/img/microsoft.png" style="width: 150px; ">
        </div>
        <div class="card">
            <img src="assets/img/samsung.png" style="width: 150px; ">
        </div>
        <div class="card">
            <img src="assets/img/facebook.png" style="width: 150px; ">
        </div>
        <div class="card">
            <img src="assets/img/twitter.png" style="width: 150px; ">
        </div>
        <div class="card">
            <img src="assets/img/amazon.png" style="width: 150px; ">
        </div>
        <div class="card">
            <img src="assets/img/ATLASSIAN.png" style="width: 150px; ">
        </div>
        <div class="card">
            <img src="assets/img/google.png" style="width: 150px; ">
        </div>
        <div class="card">
            <img src="assets/img/paypal.png" style="width: 150px; ">
        </div>
      <div class="card">
        <img src="assets/img/ATLASSIAN.png" style="width: 150px; ">
      </div>
      <div class="card">
        <img src="assets/img/google.png" style="width: 150px; ">
      </div>

    </div>



    <!--<div>-->
        <!--<h2 class="text-center">Partners</h2>-->
    <!--</div>-->

    <!--<div class="partner-container">-->
        <!--<div class="card">-->
            <!--<img src="assets/img/microsoft.png" style="width: 100px; ">-->
        <!--</div>-->
        <!--<div class="card">-->
            <!--<img src="assets/img/samsung.png" style="width: 100px; ">-->
        <!--</div>-->
        <!--<div class="card">-->
            <!--<img src="assets/img/facebook.png" style="width: 100px; ">-->
        <!--</div>-->
        <!--<div class="card">-->
            <!--<img src="assets/img/twitter.png" style="width: 100px; ">-->
        <!--</div>-->
        <!--<div class="card">-->
            <!--<img src="assets/img/amazon.png" style="width: 100px; ">-->
        <!--</div>-->
        <!--&lt;!&ndash;<div class="card">&ndash;&gt;-->
            <!--&lt;!&ndash;<img src="assets/img/ATLASSIAN.png" style="width: 100px; ">&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="card">&ndash;&gt;-->
            <!--&lt;!&ndash;<img src="assets/img/google.png" style="width: 100px; ">&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="card">&ndash;&gt;-->
            <!--&lt;!&ndash;<img src="assets/img/paypal.png" style="width: 100px; ">&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--</div>-->

</article>
